/* header.page {
  display: flex;
  position: fixed;
  width: 100%;
  height: 56px;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: space-between;
  padding: 10px;
  z-index: 100;
} */

html,
body {
  min-height: 100vh;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

nav ul,
footer ul {
  list-style: none;
  list-style-image: none;
  display: flex;
}
header,
footer {
  display: flex;
  justify-content: space-between;
}

section {
  display: grid;
  place-items: center;
}
